accelerate>=1.1
av
decord
diffusers>=0.31
einops
ftfy
huggingface_hub
imageio-ffmpeg
insightface
matplotlib
omegaconf
onnxruntime
opencv-python
qwen-vl-utils
scikit-image
scikit-learn
sentencepiece
transformers>=4.49
